.container{
    display: flex;
    height: 100%;
    justify-content: top;
    overflow: hidden;
    justify-content: space-between;
}

.item{
    background: gray;
    font-size: 1.5em;
    padding: 1em;
    height: 100%;
    margin-top: 1em;
}
textarea{
    font-size: 1.25em;
}
select{
    font-size: 1.15em;
}
